       <div class="col-lg-6">
           <div class="list-group">
               <a href="github.com/johnpapa/angular-styleguide" target="_blank" class="list-group-item active">
                   John Papa Angular Style Guide
               </a>
               <a href="http://teropa.info/blog/2015/10/18/refactoring-angular-apps-to-components.html" target="_blank" class="list-group-item">Refactoring Angular Apps to Component Style</a>
               <a href="https://docs.angularjs.org/guide" target="_blank" class="list-group-item">Guide to Angular 1
                   Documentation</a>
               <a href="https://angular.io/docs/ts/latest/cookbook/a1-a2-quick-reference.html" target="_blank" class="list-group-item">Angular 1 to 2 Quick Reference
               </a>
           </div>
       </div>
       <div class="col-lg-6">
           <div class="list-group">
               <a href="https://angular.io/docs/ts/latest/guide/style-guide.html" target="_blank" class="list-group-item active">
                   Angular 2.0 Documentation
               </a>
               <a href="https://cli.angular.io/" target="_blank" class="list-group-item">Angular CLI - A command line interface for Angular</a>
               <a href="https://www.sitepoint.com/getting-started-with-angular-2-using-typescript/" target="_blank" class="list-group-item">Getting Started with Angular 2 using TypeScript
               </a>
               <a href="http://angular-ui.github.io/ui-router/1.0.0-alpha.3/modules/ng2.html" target="_blank" class="list-group-item">UI-Router for Angular 2
               </a>
           </div>
       </div>
