
<div class="button-wrapper text">
  <button type="button" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
</div>
<div class="button-wrapper text">
 <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i> Cancel</button>
</div>
<div class="button-wrapper text">
  <button type="button" class="btn btn-save" >
    <i class="fa fa-pencil"></i> edit
  </button>
</div>
<div class="button-wrapper text">
  <button type="button" class="btn btn-cancel">
    <i class="fa fa-remove"></i> reset to draft
  </button>
</div>
<div class="button-wrapper text">
  <button type="button" class="btn btn-save">
    <i class="fa fa-angle-double-right"></i> activate
  </button>
</div>


