
      <div class="well center-block col-xl-12">
        <h3>Setup for iOS development</h3>
        <p>Regardless of your development environment of choice, here's what you'll need for iOS:</p>
        <ul class="list-unstyled">
          <li>A Mac with Mac OS X 10+ and Xcode 8</li>
          <li>JAVA 8</li>
          <li>Intellij IDEA</li>
        </ul>
        <h3>Setting up Intellij IDEA</h3>
        <ul class="list-group">
          <li class="list-group-item">If you don't already have it, grab the "ultimate edition" of IDEA from <a href="http://www.jetbrains.com/idea/download"
                                                                                                                target="_blank">http://www.jetbrains.com/idea/download</a></li>
          <li class="list-group-item">download and install <a href="http://wildfly.org/downloads/" target="_blank">wildfly 8.2.1.Final</a></li>
          <li class="list-group-item">watch this <a href="#">informational video</a> to understand the entire process</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>

      </div>

