@charset "utf-8";
	.copy
{
	background-image : url(copy.png);
	background-repeat : no-repeat;
	width : 11px;
	height : 14px;
}
.check-save
{
	background : #2B80CF;
	background : rgba(43, 128, 207, 1);
	width : 16px;
	height : 13px;
}
.add
{
	background-image : url(add.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 14px;
}
.edit
{
	background-image : url(edit.png);
	background-repeat : no-repeat;
	width : 13px;
	height : 13px;
}
.add_1_
{
	background-image : url(add_1_.png);
	background-repeat : no-repeat;
	width : 13px;
	height : 14px;
}
.NormalCharacterStyle5
{
	font-family : Museo Sans;
	font-size : 22px;
	line-height : 42px;
	text-transform : uppercase;
	color : #2B80CF;
	color : rgb(43, 128, 207);
}
.text-style
{
	font-family : Museo Sans;
	font-size : 22px;
	line-height : 42px;
	color : #2B80CF;
	color : rgb(43, 128, 207);
}

