@charset "utf-8";
	.preview-active-sm
{
	background-image : url(preview-active-sm.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 12px;
}
.preview_active-lg
{
	background-image : url(preview_active-lg.png);
	background-repeat : no-repeat;
	width : 24px;
	height : 16px;
}
.preview-hover-lg
{
	background-image : url(preview-hover-lg.png);
	background-repeat : no-repeat;
	width : 24px;
	height : 16px;
}
.lg-arrow-right-hover
{
	background : #085869;
	background : rgba(8, 88, 105, 1);
	width : 12px;
	height : 24px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.preview-hover-sm
{
	background-image : url(preview-hover-sm.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 12px;
}
.lg-arrow-right-active
{
	background : #91C8F2;
	background : rgba(145, 200, 242, 1);
	width : 12px;
	height : 24px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.green-circle-double-right-arrows
{
	background-image : url(green-circle-double-right-arrows.png);
	background-repeat : no-repeat;
	width : 21px;
	height : 21px;
}
.check-box-blue
{
	background-image : url(check-box-blue.png);
	background-repeat : no-repeat;
	width : 19px;
	height : 19px;
}
.edit-active
{
	background-image : url(edit-active.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 16px;
}
.fees-hover
{
	background-image : url(fees-hover.png);
	background-repeat : no-repeat;
	width : 12px;
	height : 19px;
}
.radio-checked
{
	background-image : url(radio-checked.png);
	background-repeat : no-repeat;
	width : 20px;
	height : 20px;
}
.branding-active
{
	background-image : url(branding-active.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.radio-hover
{
	background-image : url(radio-hover.png);
	background-repeat : no-repeat;
	width : 20px;
	height : 20px;
}
.trash-sm
{
	background-image : url(trash-sm.png);
	background-repeat : no-repeat;
	width : 8px;
	height : 9px;
}
.X-hover
{
	background-image : url(delete-hover.png);
	background-repeat : no-repeat;
	width : 8px;
	height : 9px;
}
.fees-active
{
	background-image : url(fees-active.png);
	background-repeat : no-repeat;
	width : 12px;
	height : 19px;
}
.branding_-hover
{
	background-image : url(branding_-hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.X-active
{
	background-image : url(delete-active.png);
	background-repeat : no-repeat;
	width : 8px;
	height : 9px;
}
.check-box-hover
{
	background-image : url(check-box-hover.png);
	background-repeat : no-repeat;
	width : 19px;
	height : 19px;
}
.gear-active
{
	background-image : url(gear-active.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.gears-hover
{
	background-image : url(gears-hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.check-box-black
{
	background-image : url(check-box-black.png);
	background-repeat : no-repeat;
	width : 19px;
	height : 19px;
}
.txt-sm-blue
{
	background-image : url(txt-sm-blue.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 15px;
}
.checkbox
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	width : 17px;
	height : 17px;
}
.check-green
{
	background : #76C13A;
	background : rgba(118, 193, 58, 1);
	width : 12px;
	height : 9px;
}
.open-blue
{
	background : #2B80CF;
	background : rgba(43, 128, 207, 1);
	width : 11px;
	height : 6px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.home-hover
{
	background : #2B80CF;
	background : rgba(43, 128, 207, 1);
	width : 17px;
	height : 16px;
}
.open-black
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	width : 11px;
	height : 6px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.calendar-blue
{
	background-image : url(calendar-blue.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 15px;
}
.blue-circle_active
{
	background-image : url(blue-circle_active.png);
	background-repeat : no-repeat;
	width : 21px;
	height : 21px;
}
.search-glass-hover
{
	background-image : url(search-glass-hover.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 15px;
}
.search-glass-active
{
	background-image : url(search-glass-active.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 15px;
}
.edit-hover
{
	background-image : url(edit-hover.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 16px;
}
.switch-on
{
	background-image : url(switch-on.png);
	background-repeat : no-repeat;
	width : 37px;
	height : 18px;
}
.switch-off_1_
{
	background-image : url(switch-off_1_.png);
	background-repeat : no-repeat;
	width : 37px;
	height : 18px;
}
.home-active
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	width : 17px;
	height : 15px;
}
.programs-blue
{
	background-image : url(programs-blue.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 17px;
}
.na
{
	background-image : url(na.png);
	background-repeat : no-repeat;
	width : 12px;
	height : 13px;
}
.images-blue
{
	background-image : url(images-blue.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 19px;
}
.graph-active
{
	background-image : url(graph-active.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 19px;
}
.radio
{
	background-image : url(radio.png);
	background-repeat : no-repeat;
	width : 20px;
	height : 20px;
}
.check-blue_1_
{
	background : #2B80CF;
	background : rgba(43, 128, 207, 1);
	width : 12px;
	height : 9px;
}
.txt-lg-blue
{
	background-image : url(txt-lg-blue.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 19px;
}
.txt-sm-black
{
	background-image : url(txt-sm-black.png);
	background-repeat : no-repeat;
	width : 13px;
	height : 15px;
}
.images-sm-blue
{
	background-image : url(images-sm-blue.png);
	background-repeat : no-repeat;
	width : 15px;
	height : 15px;
}
.lock-black
{
	background-image : url(lock-black.png);
	background-repeat : no-repeat;
	width : 12px;
	height : 18px;
}
.link-hover
{
	background-image : url(link-hover.png);
	background-repeat : no-repeat;
	width : 21px;
	height : 11px;
}
.images-sm-black
{
	background-image : url(images-sm-black.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 15px;
}
.images-black
{
	background-image : url(images-black.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 19px;
}
.lock-blue
{
	background-image : url(lock-blue.png);
	background-repeat : no-repeat;
	width : 12px;
	height : 18px;
}
.txt-lg-black
{
	background-image : url(txt-lg-black.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 19px;
}
.programs-black
{
	background-image : url(programs-black.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 17px;
}
.link-active
{
	background-image : url(link-active.png);
	background-repeat : no-repeat;
	width : 21px;
	height : 11px;
}
.eyedropper-blue
{
	background-image : url(eyedropper-blue.png);
	background-repeat : no-repeat;
	width : 10px;
	height : 21px;
}
.check-black_1_
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	width : 11px;
	height : 9px;
}
.graph-hover
{
	background-image : url(graph-hover.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 19px;
}
.applications-blue
{
	background-image : url(applications-blue.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 17px;
}
.eyedropper-black
{
	background-image : url(eyedropper-black.png);
	background-repeat : no-repeat;
	width : 10px;
	height : 21px;
}
.calendar-blue_1_
{
	background-image : url(calendar-blue_1_.png);
	background-repeat : no-repeat;
	width : 14px;
	height : 15px;
}
.org-programs-black
{
	background-image : url(org-programs-black.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 18px;
}
.org-programs-blue
{
	background-image : url(org-programs-blue.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 18px;
}
.applications-black
{
	background-image : url(applications-black.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 17px;
}
.arrow-right-blue
{
	background : #2B80CF;
	background : rgba(43, 128, 207, 1);
	width : 6px;
	height : 11px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.arrow-right-black
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	width : 6px;
	height : 11px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
