<div class="row icons-list success awesomeIcons">
    <div class="col-xs-2"><i class="fa fa fa-adjust"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-anchor"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-archive"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-area-chart"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-arrows"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-arrows-h"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-arrows-v"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-asterisk"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-at"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-automobile"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-ban"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bank"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bar-chart"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bar-chart-o"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-barcode"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bars"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bed"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-adjust"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-anchor"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-archive"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-area-chart"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-arrows"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-arrows-h"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-arrows-v"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-asterisk"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-at"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-automobile"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-ban"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bank"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bar-chart"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bar-chart-o"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-barcode"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bars"></i></div>
    <div class="col-xs-2"><i class="fa fa fa-bed"></i></div>
</div>
<a class="see-all-icons" href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">See all Font Awesome icons</a>