<ba-card bacardclass="with-scroll table-panel" ng-reflect-ba-card-class="with-scroll table-panel">
  <div class="card-header clearfix">
    <h3 class="card-title">Liaison Configuration Manager -
      <small style="text-transform: lowercase; font-weight: 500; font-size: 1em">Information Architecture
              Interaction Design UI/UX
            </small>
    </h3>
  </div>
  <div class="card-body" style="background-color: white; transform: scale(1);">
    <p>An online system developed to help organizations and institutions customize their applicant-facing CAS (Centralized Application
      Service) instance, called the Applicant Portal. In the Configuration Manager an administrator of a CAS can create a
      new application, alter the branding of their application, as well as input what kinds of documents, transcripts, and
      questions they would like to ask potential applicants to submit.</p>
    <div class="button-wrapper" style="margin: 11px 20px 20px 300px;">
      <a style="margin: 20px" href="https://config.liaisoncas.com/configuration/#/cas" target="_blank">
        <button type="button" class="btn btn-danger">See live Demo</button>
      </a>
    </div>
    <p>This product is a part of <a href="http://www.liaison-intl.com/" target="_blank">Liaison International</a>, and works
      in conjunction with the Applicant Portal and Applicant Gateway.</p>
    <img class="img-responsive" src="assets/img/config portal.png" alt="Liaison Configuration Manager">
    <img class="img-responsive" src="assets/img/config portal2.png" alt="Liaison Configuration Manager">
    <img class="img-responsive" src="assets/img/config portal3.png" alt="Liaison Configuration Manager">
    <img class="img-responsive" src="assets/img/config portal4.png" alt="Liaison Configuration Manager">
    <img class="img-responsive" src="assets/img/config portal6.png" alt="Liaison Configuration Manager">
  </div>
</ba-card>