<div class="widgets">
  <div class="row">
    <div class="col-md-4">
      <ba-card title="confirm Delete Modal" source="true" sourcehtml="{{deleteModalhtml}}" baCardClass="with-scroll button-panel">
        <delete-modal></delete-modal>
      </ba-card>
    </div>
    <div class="col-md-4 dialog-body">
      <ba-card title="Confirm Leave Page Modal" source="true" sourcehtml="{{confirmModalhtml}}" baCardClass="with-scroll button-panel">
        <confirm-modal></confirm-modal>
      </ba-card>
    </div>


  </div>
  <div class="row">
    <div class="col-md-4">
      <ba-card title="preview Modal" source="true" sourcehtml="{{previewModalhtml}}" baCardClass="with-scroll button-panel">
..in progress
      </ba-card>
    </div>
    <div class="col-md-4 dialog-body">
      <ba-card title="edit Modal" source="true" sourcehtml="{{editModalhtml}}" baCardClass="with-scroll button-panel">
        <edit-modal></edit-modal>
      </ba-card>
    </div>
  </div>



