<div class="button-wrapper">
  <div class="btn-states">

    <div class="row">
      <!--<h6>Normal State</h6>-->
      <div class="col-md-3 btn-state-txt">button</div>
      <div class="col-md-3 btn-state-save">save</div>
      <div class="col-md-3 btn-state-cancel">cancel</div>
      <div class="col-md-3  btn-state-delete">delete</div>
    </div>
    <!---->
    <div class="row">
      <div class="col-md-3 btn-state-hover">button</div>
      <div class="col-md-3 btn-state-save-hover">save</div>
      <div class="col-md-3 btn-state-cancel-hover">cancel</div>
      <div class="col-md-3 btn-state-delete-hover">delete</div>
    </div>

  </div>
</div>
