h2 {
  color: #085869;
  font-family: 'museo_sans300', sans-serif;
  font-size: 20px;
  line-height: 0px;
}

h3.program-edit-home {
  font-family: museo_sans300, sans-serif;
  color: #005769;
  font-size: 20px;
  line-height: 0px;
}

h1, h2, h3, h4, h5 {
  color: #3d4a4c;
  font-family: 'museo_sans300', sans-serif;
}


h1,h2,h3,h4,h5 {
  color: #3d4a4c;
  font-family: 'museo_sans300', sans-serif;
}
h1{
  font-size: 18px;
  line-height: 0px;
}
