<div class="widgets">
  <div class="typography-document-samples row">
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">
      <ba-card source="true" sourcehtml="{{textsizehtml}}" title="Text Size" baCardClass="with-scroll heading-widget">
        <text-size></text-size>
      </ba-card>
    </div>
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">
      <ba-card source="true" sourcehtml="{{moretexthtml}}" title="Some more text" baCardClass="with-scroll more-text-widget">
        <more-text></more-text>
      </ba-card>
    </div>
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">
      <ba-card source="true" sourcehtml="{{listshtml}}" title="Lists" baCardClass="with-scroll lists-widget">
        <lists></lists>
      </ba-card>
    </div>
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-xs-12 typography-widget">
      <ba-card source="true" sourcehtml="{{textcolorhtml}}" title="Text Color" baCardClass="with-scroll color-widget">
        <text-color></text-color>
      </ba-card>
    </div>
  </div>
</div>