<div class="edit-modal">
  <div class="edit-modal-header">EDIT MODAL</div>
  <div class="bottom-bar-edit col-xs-12">
    <div class="well-edit">
      <div class="program-edit-btns btn-group">
        <button type="button" class="btn btn-cancel" data-ng-click="EditProgCtrl.cancel()">
          <i class="fa fa-times"></i> Cancel
        </button>
        <button type="button" class="btn btn-reset" data-ng-disabled="programEditForm.$pristine" ng-click="EditProgCtrl.reset()">
          <i class="fa fa-undo"></i> reset
        </button>
        <button type="button" class="btn btn-save" data-ng-disabled="programEditForm.$invalid" data-ng-click="EditProgCtrl.programDetailsSubmit();">
          <i class="fa fa-check"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>
