<div class="button-wrapper">
  <button type="button" class="btn btn-default">Default</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-primary">Primary</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-success">Success</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-info">Info</button>
</div>
<div class="button-wrapper">
  <button type="button" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
</div>
<div class="button-wrapper">
 <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i> Cancel</button>  
</div>
