<div class="button-wrapper text">
  <div class="program-edit-btns well">
    <div class="btn-group pull-left" >
      <button type="button" class="btn btn-remove" ><i class="fa fa-plus"></i> add
      </button>
      <button type="button" class="btn btn-remove" ><i class="fa fa-files-o"></i> copy
      </button>
    </div>

    <button  type="button" class="btn btn-remove pull-left disabled">
      <i class="fa fa-plus"></i> program
    </button>

  </div>
</div>
<div class="button-wrapper text">
  <div class="well-edit">
    <div class="program-edit-btns btn-group">
      <!-- Hiding Edit button for in Review and user type admissions-->
      <button type="button" class="btn btn-save">
        <i class="fa fa-pencil"></i> edit
      </button>
                            <button type="button" class="btn btn-cancel" >
	                            <i class="fa fa-remove"></i> reset to draft
                            </button>
                            <button type="button" class="btn btn-save" >
	                            <i class="fa fa-angle-double-right"></i> activate
                            </button>
    </div>
  </div>
</div>
