<div class="row icons-list awesomeIcons">

  <div class="preview-active-sm col-xs-3"></div>
  <div class=" lg-arrow-right-active col-xs-3"></div>
  <div class="arrow-right-black col-xs-3"></div>
  <div class="green-circle-double-right-arrows-active col-xs-3"></div>
  <div class="check-box-blue col-xs-3"></div>
  <div class="checkbox col-xs-3"></div>
  <div class="check-box-black col-xs-3"></div>
  <div class="edit-active col-xs-3"></div>
  <div class="fees-active col-xs-3"></div>
  <div class=" home-active col-xs-3"></div>
  <div class="branding-active col-xs-3"></div>
  <div class="org-programs-black col-xs-3"></div>
  <div class="programs-black col-xs-3"></div>
  <div class="applications-black col-xs-3"></div>
  <div class=" gear-active col-xs-3"></div>
  <div class="calendar-black col-xs-3"></div>
  <div class="radio col-xs-3"></div>
  <div class="radio-checked col-xs-3"></div>
  <div class=" radio-hover col-xs-3"></div>
  <div class=" txt-sm-blue col-xs-3"></div>
  <div class="check-green col-xs-3"></div>
  <div class="check-black col-xs-3"></div>
  <div class="check-blue col-xs-3"></div>
  <div class=" delete-active col-xs-3"></div>
  <div class="trash-sm col-xs-3"></div>
  <div class="search-glass-active col-xs-3"></div>
  <div class="switch-off col-xs-3"></div>
  <div class="switch-on col-xs-3"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-3"></div>
</div>
