////delete-confirm


#application-setting.program-modal h3 {
  color: #8e8e8e;
  font-family: 'museo_sans300', sans-serif;
  font-size: 15px;
  line-height: 15px;
  margin: 7px 0;
}

// modals
.modal-footer {
  padding: 1px 5px;
  clear: both;
  margin: 0;
  text-align: right;
  border-top: none;
  background-color: #f5f5f5;
  position: relative;
  height: auto;
  bottom: -8px;
}

.modal-footer .btn {
  padding: 2px 2px;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
}

.delete-modal-body {
  background: url("/assets/img/theme/icon/config-portal-icons/delete-modal/delete-modal.png") no-repeat 0 0;
  width: 600px;
  height: 340px;
}

.delete-modal-body-programs {
  background: url("/assets/img/theme/icon/config-portal-icons/delete-modal/delete-modal.png") no-repeat 0 0;
  width: auto;
  height: 340px;
}

.delete-modal-body-programs p {
  color: #ffffff !important;
  font-size: 25px !important;
  font-family: 'museo_slab500', sans-serif !important;
  position: relative;
  width: 380px;
  text-align: right;
  top: 158px;
  left: 180px;
  line-height: 25px !important;
}

.delete-modal-body p {
  color: #ffffff;
  font-size: 25px;
  font-family: 'museo_slab500', sans-serif;
  position: relative;
  width: 380px;
  text-align: right;
  top: 158px;
  left: 180px;
}

.delete-modal-btns {
  position: absolute;
  bottom: 2px;
  right: 30px;
  text-align: center;
}

.delete-modal-btns a {
  font-family: museo_sans500, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 12px;
  display: inline-block;
}
.modal-body.exit-message {
  background: #e5bf0c;
}
.modal-body.exit-message:after {
  content: "\f071";
  font-family: FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 163px;
  position: absolute;
  left: 3%;
  top: 54%;
  color: #edd356;
  margin: 0;
  z-index: 1;
}
.modal-body.exit-message .error-message {
  text-align: right;
}
.modal-body.exit-message .error-message h1 {
  font-family: museo_sans300, sans-serif;
  font-size: 32px;
  color: #212121;
}
.modal-body.exit-message .error-message p {
  font-family: museo_sans300, sans-serif;
  font-size: 21px;
  color: #fff;
}
#exit-message.modal-footer.confirm-modal-btns a {
  font-family: museo_sans500, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 12px;
  display: inline-block;
  cursor: pointer;
}
#exit-message.modal-footer.confirm-modal-btns a:hover {
  background: #abdfff;
}
#exit-message.modal-footer {
  padding: 0;
  position: relative;
  bottom: 0;
}
.confirm-modal{
  padding:20px 0 0 0;
}

.delete-modal-btns a:hover {
  background: #abdfff;
}
