<div class="widgets">
  <div class="row">
    <div class="col-md-4">
      <ba-card title="confirm Delete Modal" source="true" sourcehtml="{{deleteModalhtml}}" baCardClass="with-scroll button-panel">
        <delete-modal></delete-modal>
      </ba-card>
    </div>
    <div class="col-md-4">
      <ba-card title="Confirm Saved Modal" source="true" sourcehtml="{{confirmModalhtml}}" baCardClass="with-scroll button-panel">
        <confirm-modal></confirm-modal>
      </ba-card>
    </div>
    <div class="col-md-4">
      <ba-card title="Toastr Messages" source="true" sourcehtml="{{toastrMessageshtml}}" baCardClass="with-scroll button-panel df-size-button-panel">
        <toastr-messages></toastr-messages>
      </ba-card>
    </div>

  </div>


