<div class="button-wrapper text">
  <button type="button" class="btn btn-remove">
    <i class="fa fa-plus"></i> program
  </button>
</div>
<div class="button-wrapper text">
  <button type="button" class="btn btn-remove" ><i class="fa fa-plus"></i> add
  </button>
</div>
<div class="button-wrapper text"></div>
<div class="button-wrapper text"><button type="button" class="btn btn-remove" ><i class="fa fa-files-o"></i> copy
</button></div>
<div class="button-wrapper text">
  <button id="add-app-gateway" type="button" class="btn btn-remove pull-left">
    <i class="fa fa-plus"></i> app gateway
  </button>
</div>
<div class="button-wrapper text"></div>
<div class="button-wrapper text"></div>
