<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card title="Standard Fields"  source="true" sourcehtml="{{standardInputsHtml}}" baCardClass="with-scroll">
        <standard-inputs></standard-inputs>
      </ba-card>



    </div>
    <div class="col-md-6">
      <ba-card title="Validation States" source="true" sourcehtml="{{validationInputsHtml}}" baCardClass="with-scroll">
        <validation-inputs></validation-inputs>
      </ba-card>

      <ba-card title="Checkboxes & Radios" source="true" sourcehtml="{{checkboxInputsHtml}}" baCardClass="with-scroll">
        <checkbox-inputs></checkbox-inputs>
      </ba-card>


    </div>
  </div>

</div>
