.basic-btns {
  padding-top: 8px;
  margin-bottom: -8px;
  h5 {
    line-height: 35px;
    font-size: 12px;
    &.row-sm {
      line-height: 30px;
    }
    &.row-xs {
      line-height: 22px;
    }
  }
  & > .row {
    padding-bottom: 4px;
  }
}

.btns-row {
  & > div {
    margin-bottom: 12px;
  }
}

.btns-same-width-sm {
  .btn {
    width: 48px;
  }
}

.btns-same-width-md {
  .btn {
    width: 79px;
  }
}

.btns-same-width-lg {
  .btn {
    width: 112px;
  }
}

ul.btn-list {
  margin: 0 0 0 -18px;
  padding: 0;
  padding-top: 6px;
  clear: both;
  li {
    margin: 0px 0 12px 18px;
    padding: 0;
    list-style: none;
    float: left;
  }
}

.btn-group-wrapper {
  margin-bottom: 12px;
}

$btn-icon-size: 34px;
.btn-icon {
  width: $btn-icon-size;
  height: $btn-icon-size;
  line-height: $btn-icon-size;
  padding: 0;
  text-align: center;
}

.btn-group-example {
  float: left;
  margin-right: 30px;
  margin-bottom: 12px;
}

.btn-toolbar-example {
  float: left;
}

.progress-buttons-container {
  text-align: center;
  font-size: 16px;
  span.button-title {
    display: inline-block;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .row + .row {
    margin-top: 30px;
  }
}

.button-panel {
  height: 315px;
  .btn {
    width: 150px;
  }
}

.large-buttons-panel {
  height: 202px;
}

.button-panel.df-size-button-panel {
  .btn-xs {
    width: 60px;
  }
  .btn-sm {
    width: 90px;
  }
  .btn-mm {
    width: 120px;
  }
  .btn-md {
    width: 150px;
  }
  .btn-xm {
    width: 175px;
  }
  .btn-lg {
    width: 200px;
  }
}

.button-wrapper {
  text-align: center;
  margin: 5px 0;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active,
.open .dropdown-toggle.btn-cancel {
  color: #121212;
  background-color: #A3A3A3;
  border-color: #C9C9C9;
}

.btn-cancel:active,
.btn-cancel.active,
.open .dropdown-toggle.btn-cancel {
  background-image: none;
}

.btn-cancel.disabled,
.btn-cancel[disabled],
fieldset[disabled] .btn-cancel,
.btn-cancel.disabled:hover,
.btn-cancel[disabled]:hover,
fieldset[disabled] .btn-cancel:hover,
.btn-cancel.disabled:focus,
.btn-cancel[disabled]:focus,
fieldset[disabled] .btn-cancel:focus,
.btn-cancel.disabled:active,
.btn-cancel[disabled]:active,
fieldset[disabled] .btn-cancel:active,
.btn-cancel.disabled.active,
.btn-cancel[disabled].active,
fieldset[disabled] .btn-cancel.active {
  background-color: #C9C9C9;
  border-color: #C9C9C9;
}

.btn-cancel .badge {
  color: #C9C9C9;
  background-color: #121212;
}



// Save Buttons
.btn-save {
  color: #2B80CF;
  background-color: #D2E7F6;
  border-color: #D2E7F6;
  border-radius: 0;
}

.btn-save:hover,
.btn-save:focus,
.btn-save:active,
.btn-save.active,
.open .dropdown-toggle.btn-save {
  color: #2B80CF;
  background-color: #87B5D6;
  border-color: #D2E7F6;
}

.btn-save:active,
.btn-save.active,
.open .dropdown-toggle.btn-save {
  background-image: none;
}

.btn-save.disabled,
.btn-save[disabled],
fieldset[disabled] .btn-save,
.btn-save.disabled:hover,
.btn-save[disabled]:hover,
fieldset[disabled] .btn-save:hover,
.btn-save.disabled:focus,
.btn-save[disabled]:focus,
fieldset[disabled] .btn-save:focus,
.btn-save.disabled:active,
.btn-save[disabled]:active,
fieldset[disabled] .btn-save:active,
.btn-save.disabled.active,
.btn-save[disabled].active,
fieldset[disabled] .btn-save.active {
  background-color: #D2E7F6;
  border-color: #D2E7F6;
}
.btn-save .badge {
  color: #D2E7F6;
  background-color: #2B80CF;
}
.btn {
  border-radius: 0px !important;
  transition: all 0.1s ease;
  padding: 0.344rem 1rem;
  font-size: 0.9rem;
}
button.btn.btn-remove {
  color: #2a7fce;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: left;
  margin: 5px 0;
  font-family : Museo Sans;
  font-size : 16px;
  line-height : 16px;
  color : #2B80CF;
  text-transform: uppercase !important;
}
button.btn.btn-copy {
  color: #2a7fce !important;
  background: none !important;
  outline: none;
  box-shadow: none;

}


.program-edit-btns.well {
  min-height: 32px;
  padding: 2px;
  margin: 20px 0;
  background-color: #e4e4e4;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: right;
}
.program-edit-btns.well {
  min-height: 32px !important;
}
// Button Group
.program-edit-btns .btn {
  padding: 2px 12px;
  outline: none;
  border-radius: none;
  box-shadow: none;
  text-transform: uppercase;
}
.program-edit-btns.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 0;
}
.button-wrapper.text {
  text-align: left;
  margin: 5px 0;
  font-family : Museo Sans;
  font-size : 22px;
  line-height : 42px;
  color : #2B80CF;
  text-transform: capitalize !important;
}
          *, *::before, *::after {
            box-sizing: inherit;
          }
//button states
.btn-states{
  width: 523px;
  height: 73px;
  position: relative;
}
//text button
.btn-state-hover {
  font-family: Museo Sans;
  font-size: 22px;
  color: #2b80cf;
  font-weight: 300;
  text-transform: uppercase;
  background : #91C8F2;
  position : absolute;
  left : 14px;
  top : 42px;
  width : 129px;
  height : 30px;
  padding: 7px;
  text-align: center;
}
.btn-state-hover:before{
  font-family: FontAwesome;
  content: '\f067';
  color: #231f20;
  font-size:18px;
}
.btn-state-txt
{
  font-family : Museo Sans;
  font-size : 22px;
  color : #000;
  font-weight: 300;
  text-transform: uppercase;
  position : absolute;
  left : 14px;
  top : 8px;
}
.btn-state-txt:before{
  font-family: FontAwesome;
  content: '\f067';
  color: #2b80cf;
  font-size:18px;
}
//save button
.btn-state-save
{
  font-family : Museo Sans;
  font-size : 22px;
  color : #2b80cf;
  background : #BFE4FF;
  font-weight: 300;
  text-transform: uppercase;
  position : absolute;
  left : 146px;
  top : 0px;
  width : 97px;
  height : 30px;
  padding: 7px;
  text-align: center;
}
.btn-state-save:before{
  font-family: FontAwesome;
  content: '\f00c';
  color: #2b80cf;
  font-size:18px;
}
.btn-state-save-hover {
  font-family: Museo Sans;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  background : #2b80cf;
  position : absolute;
  left : 146px;
  top : 41px;
  width : 97px;
  height : 30px;
  padding: 7px;
  text-align: center;
}
.btn-state-save-hover:before{
  font-family: FontAwesome;
  content: '\f00c';
  color: #fff;
  font-size:18px;
}




//delete button
.btn-state-cancel
{
  font-family : Museo Sans;
  font-size : 22px;
  color : #595959;
  font-weight: 300;
  text-transform: uppercase;
  position : absolute;
  left : 258px;
  top : 8px;
  width : 129px;
  height : 30px;
  text-align: center;
}
.btn-state-cancel:before{
  font-family: FontAwesome;
  content: '\f067';
  color: #595959;
  font-size:18px;
}
.btn-state-cancel-hover {
  font-family: Museo Sans;
  font-size: 22px;
  color: #595959;
  font-weight: 300;
  text-transform: uppercase;
  background : #b2b2b2;
  position : absolute;
  left : 258px;
  top : 42px;
  width : 129px;
  height : 30px;
  padding: 7px;
  text-align: center;
}
.btn-state-cancel-hover:before{
  font-family: FontAwesome;
  content: '\f067';
  color: #595959;
  font-size:18px;
}
//delete button
.btn-state-delete
{
  font-family : Museo Sans;
  font-size : 22px;
  color : #dd4509;
  font-weight: 300;
  text-transform: uppercase;
  position : absolute;
  left : 401px;
  top : 8px;
  width : 129px;
  height : 30px;
  text-align: center;
}
.btn-state-delete:before{
  font-family: FontAwesome;
  content: '\f1f8';
  color: #dd4509;
  font-size:18px;
}
.btn-state-delete-hover {
  font-family: Museo Sans;
  font-size: 22px;
  color: #dd4509;
  font-weight: 300;
  text-transform: uppercase;
  background : #F1B59D;
  position : absolute;
  left : 401px;
  top : 42px;
  width : 129px;
  height : 30px;
  padding: 7px;
  text-align: center;
}
.btn-state-delete-hover:before {
  font-family: FontAwesome;
  content: '\f1f8';
  color: #dd4509;
  font-size: 18px;

}


.btn-states >h6{
    font-size: 14px;
    display: inline-block;
    position: relative;
    float: left;
    font-weight: 100;
    font-family: Museo Sans-serif;


}

