<div class="widgets">
    <div class="row">
        <div class="col-md-4">
            <ba-card title="Flat Buttons" source="true" sourcehtml="{{flatButtonshtml}}" baCardClass="with-scroll button-panel">
                <flat-buttons></flat-buttons>
            </ba-card>
        </div>
        <div class="col-md-4">
            <ba-card title="Text Buttons" source="true" sourcehtml="{{textbuttonshtml}}" baCardClass="with-scroll button-panel">
              <text-buttons></text-buttons>
            </ba-card>
        </div>
        <div class="col-md-4">
            <ba-card title="Button Groups" source="true" sourcehtml="{{groupbuttonshtml}}" baCardClass="with-scroll button-panel df-size-button-panel">
                <group-buttons></group-buttons>
            </ba-card>
        </div>

    </div>


